html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-dark: #4d4d4d;
  --color-light: #808080;
  --color-accent: #5d71dd;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  overflow-anchor: none;
}

ul {
  list-style-type: none;
}

.btn {
  border: 1px solid #2177e9;;
  padding: 8px 0;
  border-radius: 4px;
  width: 100%;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #2177e9;
  transition: background-color 0.2s ease-in-out;
}

.btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}