@import 'global.css';
@import 'normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #4d4d4d;
  --color-light: #808080;
  --color-accent: #5d71dd;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #dddddd;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  margin-bottom: 50px;
  background: #2177e9;
  -webkit-box-shadow: 0px 15px 10px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 15px 10px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 15px 10px -10px rgba(34, 60, 80, 0.2);
}

.settings {
  background-image: url("../assets/img/settings.png");
  background-size: cover;
  border-radius: 10px;
  margin-right: 50px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.settings:hover {
  background-image: url("../assets/img/settings.png");
  background-size: contain;
  background-color: #87838a;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.time-count {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 30px;
  width: 796px;
  height: 359px;
  padding: 73px 86px;
}

.time-count__title {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--color-dark)
}

.time-count__content {
  display: flex;
  justify-content: center;
}

.time-count__item {
  text-align: center;
}

.time-count__val {
  min-width: 81px;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: var(--color-accent);
}

.time-count__separator {
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  color: var(--color-accent);
  margin: 0 30px;
}

.time-count__text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}